@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Политика</h1>

<p>Use this page to detail your site's privacy policy.</p>
<ul class="list-group">
    <li>
        На сайте многое что не доделано и надо бы сделать. согласен.
    </li>
    <li>
        Autofac не подключил, сделал зависимости через startUp, не видел смысла плодить вторую зависимость что б потом где то крашнулся сайт.
    </li>
    <li>
        почти 90% методов и действий не являются асинхронами, потому что ступил. Узнал под конец что надо делать асинхронно.
    </li>
    <li>
        Сделанно кучу ошибок, но готов исправлять их и исправляться самому.
    </li>
    <li>
        Не стал добавлять плагины для сайта, не вижу смысла если нет в ТЗ.
    </li>
    <li>
        теперь можно тестировать
    </li>
</ul>
