@page
@model AddBooksModel
@{
    ViewData["Title"] = "Добавление книг";
    ViewData["ActivePage"] = ManageNavPages.AddBooks;
}

<h4>@ViewData["Title"]</h4>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">

            <ul>
                <li>
                    <label>Автор:</label>
                    <input asp-for="books.Author" />
                </li>
                <li>
                    <label>Название книги:</label>
                    <input asp-for="books.Name" />
                </li>
                <li>
                    <label>Описание:</label>
                    <input asp-for="books.description" />
                </li>
                <li>
                    <label>Количество:</label>
                    <input asp-for="books.count" min="0" value="1" />
                </li>
                <li>
                    <label>Цена:</label>
                    <input asp-for="books.price" min="0" value="1" />
                </li>
                <li>
                    <label>Жанр</label>
                    <select asp-for="books.genres" asp-items="Html.GetEnumSelectList<Libr.Models.Genre>()">
                        <option>Выберите жанр</option>
                    </select>
                </li>


            </ul>
            
            <div>
                <div class="custom-file ">
                    <input asp-for="photo" class="custom-file-input form-control" />
                    <label class="custom-file-label text-left ">Фото книги</label>
                </div>
            </div>
            <button type="submit">Save</button>


        </div>
    </div>


</form>
    @section Scripts{
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
     }