@page
@model Libr.Areas.Identity.Pages.Account.Manage.AdminChange_passwordModel
@{
}

<form method="post">
    @foreach (var item in Model.users)
    {
        <h6>@item.PasswordHash ++++++</h6>
        <button asp-route-id="@item.Id" asp-page-handler="Rout"></button>
    }
</form>