@page
@model Libr.Areas.Identity.Pages.Account.Manage.AdminChange_passwordModel
@{
}

<form method="post">

    <div class="border-dark container-fluid" >
        <div class=" border row">
            <div class="col-md-4">
                login
            </div>
            <div class="col-md-4">
                role
            </div>
            <div class="col-md-4">
                <button>change password</button>
            </div>
        </div>
    </div>
    @foreach (var item in Model.users)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    @item.Email
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    }
</form>